@font-face {
    font-family: 'Work Sans Hairline';
    src: local('Work Sans Hairline'), local('WorkSans-Hairline'), url('Worksanshairline.woff2') format('woff2'), url('Worksanshairline.woff') format('woff'), url('Worksanshairline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
